
/* Hide template, for JS only */
#page-course-view-flexpage #addpagetemplate {
    display: none;
}

#page-course-view-flexpage .format_flexpage_addpages_wrapper {
    margin-bottom: 20px;
}

#page-course-view-flexpage .format_flexpage_addpages_addbutton {
    vertical-align: bottom;
    padding-left: 25px;
}

#page-course-view-flexpage .format_flexpage_addpages_addbutton button {
    font-weight: bold;
}

#page-course-view-flexpage .format_flexpage_addpages_elements {
    white-space: nowrap;
    padding-top: 3px;
    padding-bottom: 2px;
}

.format_flexpage_box {
    display: table;
}

.format_flexpage_row {
    display: table-row;
}

.format_flexpage_cell {
    display: table-cell;
}

#format_flexpage_actionbar_nav {
    float: right;
    padding-right: 10px;
}

#format_flexpage_actionbar_nav #format_flexpage_jumptopage .singleselect {
    display: inline-block;
}

#format_flexpage_actionbar_nav #format_flexpage_prevpage {
    padding-right: 5px;
}

#format_flexpage_actionbar_nav #format_flexpage_nextpage {
    padding-left: 5px;
}

#format_flexpage_movingtext {
    padding-right: 5px;
}

.format_flexpage_movepage_wrapper #menumove {
    margin-right: 5px;
}

.format_flexpage_addactivity_heading {
    font-weight: bold;
}

.format_flexpage_addactivity_group li {
    list-style: none;
}

#format_flexpage_region_radios {
    margin-top: 5px;
    margin-bottom: 10px;
}

.format_flexpage_existing_activity_list {
    max-height: 600px;
    overflow: auto;
}

.format_flexpage_existing_activity_list li {
    padding-bottom: 5px;
}

#format_flexpage_addblock_links ul li {
    list-style: none;
    white-space: nowrap;
    padding-bottom: 5px;
}

.block_adminblock {
    display: none;
}